/* Website template by freewebsitetemplates.com */
body {
	background:#409389 url(../images/background1.png);
	background-size:cover;
	font-family: "Times New Roman", Times, serif;
	margin: 0;
}

#background {
	background: url(../images/background1.png) no-repeat;
	
	min-height: 550px;
}
#page {
	width: 960px;
	margin: 0 auto;
}

#page div.topcorner{
   position:relative;
   top:0;
   right:0;
  }
img {
	border: 0;
}
/*------------------------------ Sprites ------------------------------*/
#navigation li, #navigation li a:hover, #navigation li.selected a {
	background-image: url(../images/bg-menu.png);
	background-repeat: repeat-x;
}
#contents div.box, #contents div.box > div, #contents div.body {
	background-image: url(../images/content-box.png);
	background-repeat: no-repeat;
}
#main div.box, #main div.box > div, #main div.box > div > div {
	background-image: url(../images/bg-box.png);
	background-repeat: no-repeat;
}
/*------------------------------ HEADER ------------------------------*/
#header {
	margin:0 auto;
	padding-top: 20px;
}
/** Logo **/
#logo {
	float: left;
	margin-bottom: 30px;
	margin-left: 49px;
	display: inline-block;
}
/** Navigation **/
#navigation {
	background: url(../images/bg-navigation.png) no-repeat;
	clear: both;
	height: 50px;
	width: 860px;
	margin: 0 auto;
	padding: 1px;
}
#navigation ul {
	
	width: 860px;
	list-style: none;
	margin: 0;
	padding: 0;
}
#navigation li {
	float: left;
	background-position: 0 -118px;
	background-repeat: no-repeat;
	height: 49px;
	width: 215px;
	margin: 0;
	text-align: center;
	
}
#navigation li:first-child {
	background: none;
	margin-left: 0;
	padding-left: 0;
}
#navigation li a {
	color: #fff;
	display: block;
	font: bold 14px/48px Arial, Helvetica, sans-serif;
	height: 49px;
	text-decoration: none;
	text-transform: uppercase;
}
#navigation li a:hover {
	background-position: 0 -59px;
	color: #6d6157;
}
#navigation li.selected a {
	background-position: 0 0;
	color: #e4e1bd;
}
/*------------------------------ CONTENTS ------------------------------*/
#form{
	border: solid grey 1px;
	margin:100 auto;
	width:25%;
	border-radius:5px;
	padding: 50px;
	background-color:#CCCCCC;
}
#contents {
	display: inline-block;
	width: 865px;
	padding: 0 47px;
}
#contents h1 {
	color: #316e66;
	font: 26px/30px "Times New Roman", Times, serif;
	margin: 18px 0 20px;
	padding-left: 2px;
	text-transform: uppercase;
}
#contents div.body h1, #contents h2 {
	color: #316e66;
	font: 30px/30px "Times New Roman", Times, serif;
	margin: 0 0 18px;
	text-transform: uppercase;
}
#contents h2 {
	font-size: 22px;
	margin: 0 0 30px;
}
#contents h2 a {
	color: #2c9688;
	text-decoration: none;
}
#contents p {
	color: #5a4535;
	font-size: 15px;
	line-height: 30px;
	margin: 0;
	padding: 0 0 24px 2px;
}
#contents p a {
	color: #5a4535;
}
#contents p a:hover, #news div.sidebar ul li a:hover {
	color: #917157;
}
/** box-shadow **/
#contents div.box {
	background-position: left bottom;
	margin-bottom: 20px;
	margin-left: 1px;
	padding: 0 0 6px;
}
#contents div.box > div {
	background-position: -1745px top;
	padding: 6px 0 0;
}
#contents div.body {
	background-position: -871px top;
	background-repeat: repeat-y;
	min-height: 50px;
	padding: 30px 40px 0;
}
/** Adbox **/
#adbox {
	background: url(../images/bg-adbox.png) no-repeat left top;
	width: 852px;
	margin: 0 auto;
	padding: 4px 5px 18px;
}
#adbox p {
	font-size: 16px;
}
.ads {
	float: right;
	width: 220px;
	border-left: 1px solid #bbbbbb;
	margin-left: 20px;
	padding-left: 20px;
}
hr {
	border:0;
	border-top: 1px solid #bbbbbb;
	margin-bottom: 30px;
}


/*------------------------------ FOOTER ------------------------------*/
#footer {
	color: #594334;
	font-size: 14px;
	line-height: 48px;
	margin: -38px 0 20px;
	padding-top: 42px;
	text-transform: uppercase;
}
#footer > div {
	background-color: #ac9e94;
	height: 48px;
	width: 822px;
	border-bottom: 1px solid #72675f;
	border-top: 1px solid #cdbeb2;
	margin: 0 auto;
	padding: 0 20px;
	text-align: right;
}
#footer ul.navigation {
	float: left;
	display: inline-block;
	list-style: none;
	margin: 0;
	padding: 0;
}
#footer ul.navigation li {
	float: left;
	margin-right: 10px;
}
#footer ul.navigation li a {
	color: #594334;
	padding: 0 5px;
	text-decoration: none;
}
#footer ul.navigation li:first-child a {
	border-left: 0;
	padding-left: 0;
}
#footer ul.navigation li a:hover {
	color: #eee7c3;
}
#footer ul.navigation li.active a {
	color: #fff;
}
#footer p {
	margin: 0;
	text-align: center;
	text-transform: none;
}
/**************** REPORTS TABLES *****************/
table {
    border: 1;
    border-color:#000000;
    width: 100%;
}

th, td {
    text-align: justify;
    padding: 10px;
}

tr:nth-child(even){background-color: #f2f2f2}

th {
    background-color: #409389;
    color: white;
}


table.state{
	border:1;
	border-collapse: collapse;
	background-color: #f2f2f2;
    border-color:#020202;
    width: 100%;
}
table.state tr {background-color: #f2f2f2; }
table.state td { background-color: #f2f2f2; text-align: justify;}
table.state th { background-color: #f2f2f2; text-align: justify;}



/************ LOGOUT HOVER *******************/
/* Dropdown Button */
.dropbtn {
    background-color: #409389;
    color: white;
    padding: 16px;
    font-size: 17px;
    border: none;
    cursor: pointer;
	margin-left:10px;
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
    position: relative;
    display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
 .dropdown-content {
    display: none;
    position: absolute;
    background-color: Transparent;
    
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
	margin-left:10px;
	padding-top:5px;

}

/* Links inside the dropdown */
 .dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

/* Change color of dropdown links on hover */
 .dropdown-content a:hover {background-color: #f1f1f1}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
    display: block;
}

/* Change the background color of the dropdown button when the dropdown content is shown */
.dropdown:hover .dropbtn {
    background-color: #e4e1bd;
	color: black;
	
}


/****************** logout button *************************/
.logoutbutton {
  display: inline-block;
  border-radius: 10px;
  background-color: #409389;
  border: none;
  color: #FFFFFF;
  text-align: center;
  font-size: 19px;
  padding: 20px;

  transition: all 0.5s;
  cursor: pointer;
  margin: 5px;
}

.logoutbutton span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

.logoutbutton span:after {
  content: '\00bb';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}

.logoutbutton:hover span {
  padding-right: 25px;
}

.logoutbutton:hover span:after {
  opacity: 1;
  right: 0;
}


/*************** COMMENTS *****************/

.tip {
  width: 0px;
  height: 0px;
  position: absolute;
  background: transparent;
  border: 10px solid #409389;
}

.tip-up {
  top: -25px; /* Same as body margin top + border */
  left: 10px;
  border-right-color: transparent;
  border-left-color: transparent;
  border-top-color: transparent;
}


.dialogbox .comments {
  position: relative;
  max-width: 470px;
  height: auto;
  margin-top: 10px;
  padding: 5px;
  background-color: #DADADA;
  border-radius: 3px;
  border: 5px solid #409389;
}

.comments .message {
  min-height: 30px;
  border-radius: 3px;
  font-family: Arial;
  font-size: 14px;
  line-height: 1.5;
  color: #000;
}

table.comments-table{
	
	border:1;
	
}

table.comments-table td {
    text-align: justify;
    padding: 10px;
}
